{% extends 'main.html' %}
{% block content %}
    {%if request.user.is_authenticated%}
    <div class="area-restrita-vh">
            <div class="area-restrita">
                <h1>Área restrita</h1>
                <p>
                    Bem vindo , esse é um projeto para demonstração de conhecimentos de django como back-end e HTML/CSS como front-end
                </p>
                <p>
                    Welcome, this is a project to demonstrate Django backend and HTML/CSS frontend knowledge.
                </p>
                <br>
                <p>This project repository <a href="https://github.com/Reis567/login-django">Click here !</a></p>
                <a href="/logouts/">Logout</a>
                <br>
                

                <hr>
                    {% if perms.admin.can_edit_users %}
                        <p>How you can edit users , you can see this</p>
                    {% endif %}

                    {% if perms.admin.can_delete_posts %}
                        <p>How you can delete posts , you can see this</p>
                    {% endif %}
                    
            {% else %}

                <h1>Você não tem acesso a essa area</h1>

            </div>
    </div>
    {% endif %}
{% endblock content %}