{% extends 'main.html' %}
<!-- Define que este modelo estende o arquivo 'main.html' -->

{% block content %}
  <!-- Início do bloco 'content' -->

  <section class="area-login">
    <div class="cadastro">
      <div class="login-img">
        <h2>Cadastro</h2>
      </div>
      <!-- Formulário de cadastro -->
      <form name="form-users" id="formUsers" method="post" action="/store/">
        <!-- Abre um formulário com o nome 'form-users', ID 'formUsers' e um método POST que envia os dados para '/store/' -->
        {% if msg %}
          <!-- Verifica se a variável 'msg' está definida -->
          <!-- Se estiver, exibe uma mensagem de alerta -->
          <div class="alert {{ class }}">{{ msg }}</div>
        {% endif %}
        {% csrf_token %}
        <!-- Insere um token de proteção CSRF -->

        <!-- Campos do formulário -->
        <input type="text" name="name" placeholder="Nome de usuário" id="name" autofocus />
        <!-- Campo de entrada de texto para o nome de usuário -->
        <input type="text" name="user" id="user" placeholder="Nome de usuário" />
        <!-- Campo de entrada de texto para o nome de usuário -->
        <input type="password" name="password" id="password" placeholder="Senha" />
        <!-- Campo de entrada de senha -->
        <input type="password" name="password-conf" id="password-conf" placeholder="Confirmar Senha" />
        <!-- Campo de entrada de senha para confirmar a senha -->
        <input type="email" name="email" id="email" placeholder="Email" />
        <!-- Campo de entrada de email -->
        <input type="submit" value="Cadastrar" />
        <!-- Botão de envio do formulário -->
      </form>
      <!-- Fim do formulário -->

      <!-- Link para a página de login -->
      <p>
        Já tem uma conta? <a href="/painel/">Entrar</a>
      </p>
    </div>
  </section>

  <!-- Fim do bloco 'content' -->
{% endblock %}
