{% extends 'main.html' %}
{% block content %}
<section class="area-login">
    <div class="login">
        <div class="login-img">
            <h2 >Login</h2>
        </div>
            <form name="formPainel", id="formPainel", method="post" action="/dologin/">
                
                    {% if msg %}
                        <div class="alert {{class}}">
                            {{msg}}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    <input type="text" name="user" placeholder="Nome de usuario" autofocus>
                    <input type="password" name="password" placeholder="Senha">
                    <input type="submit" value="Entrar">
            </form>
         <p>Ainda não tem uma conta? <a href="/create/">Criar conta</a></p>
    </div>
</section>
{% endblock content %}